@tailwind base;
@tailwind components;
@tailwind utilities;




/* Import Anurati from the public/fonts folder */
@font-face {
  font-family: "Anurati";
  src: url("/fonts/Anurati-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Font Classes */
.font-title {
  font-family: var(--font-quantico), sans-serif; /* Quantico for titles */
}

.font-text {
  font-family: var(--font-rubik), sans-serif; /* Rubik for body text */
}

.font-logo {
  font-family: "Anurati", sans-serif; /* Anurati for the logo */
}
